

@font-face {
  font-family: 'Nexa';
  src:  font_url('NexaRustScriptL-0.eot');
  src:  font_url('NexaRustScriptL-0.eot#iefix') format('embedded-opentype'),
        font_url('NexaRustScriptL-0.ttf') format('truetype'),
        font_url('NexaRustScriptL-0.woff') format('woff'),
        font_url('NexaRustScriptL-0.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}