//
// Icon Font: icons
//

@font-face {
  font-family: "icons";
  src: font_url("icons.eot");
  src: font_url("icons.eot?#iefix") format("embedded-opentype"),
  font_url("icons.woff2") format("woff2"),
  font_url("icons.woff") format("woff"),
  font_url("icons.ttf") format("truetype"),
  font_url("icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "icons";
    src: url("icons.svg#icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-mc-add:before,
.icon-mc-arrow-down:before,
.icon-mc-arrow-left:before,
.icon-mc-arrow-right:before,
.icon-mc-bag:before,
.icon-mc-bleach:before,
.icon-mc-box:before,
.icon-mc-cancel:before,
.icon-mc-cool-iron:before,
.icon-mc-down-arrow:before,
.icon-mc-drip-dry:before,
.icon-mc-dry-clean:before,
.icon-mc-dry-flat:before,
.icon-mc-drying-low:before,
.icon-mc-drying-med:before,
.icon-mc-filters:before,
.icon-mc-gift-card:before,
.icon-mc-grid:before,
.icon-mc-grid-view:before,
.icon-mc-hand-wash:before,
.icon-mc-hang-dry:before,
.icon-mc-heart:before,
.icon-mc-help:before,
.icon-mc-hot-iron:before,
.icon-mc-list:before,
.icon-mc-list-view:before,
.icon-mc-login:before,
.icon-mc-logo:before,
.icon-mc-magnifying-glass:before,
.icon-mc-no-bleach:before,
.icon-mc-no-dishwasher:before,
.icon-mc-no-dry-clean:before,
.icon-mc-no-iron:before,
.icon-mc-no-microwave:before,
.icon-mc-no-tumble-dry:before,
.icon-mc-not-wash:before,
.icon-mc-package:before,
.icon-mc-pin:before,
.icon-mc-truck:before,
.icon-mc-tumble-dry:before,
.icon-mc-user:before,
.icon-mc-warm-iron:before,
.icon-mc-wash-30:before,
.icon-mc-wash-all:before,
.icon-mc-wash-before:before,
.icon-mc-wash-gentle:before,
.icon-mc-wash-press:before,
.icon-mc-wash-separately:before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-mc-add:before { content: "\f100"; }
.icon-mc-arrow-down:before { content: "\f101"; }
.icon-mc-arrow-left:before { content: "\f102"; }
.icon-mc-arrow-right:before { content: "\f103"; }
.icon-mc-bag:before { content: "\f104"; }
.icon-mc-bleach:before { content: "\f105"; }
.icon-mc-box:before { content: "\f106"; }
.icon-mc-cancel:before { content: "\f107"; }
.icon-mc-cool-iron:before { content: "\f108"; }
.icon-mc-down-arrow:before { content: "\f12d"; }
.icon-mc-drip-dry:before { content: "\f109"; }
.icon-mc-dry-clean:before { content: "\f10a"; }
.icon-mc-dry-flat:before { content: "\f10b"; }
.icon-mc-drying-low:before { content: "\f10c"; }
.icon-mc-drying-med:before { content: "\f10d"; }
.icon-mc-filters:before { content: "\f10e"; }
.icon-mc-gift-card:before { content: "\f12e"; }
.icon-mc-grid:before { content: "\f10f"; }
.icon-mc-grid-view:before { content: "\f12f"; }
.icon-mc-hand-wash:before { content: "\f110"; }
.icon-mc-hang-dry:before { content: "\f111"; }
.icon-mc-heart:before { content: "\f112"; }
.icon-mc-help:before { content: "\f113"; }
.icon-mc-hot-iron:before { content: "\f114"; }
.icon-mc-list:before { content: "\f115"; }
.icon-mc-list-view:before { content: "\f130"; }
.icon-mc-login:before { content: "\f116"; }
.icon-mc-logo:before { content: "\f117"; }
.icon-mc-magnifying-glass:before { content: "\f12c"; }
.icon-mc-no-bleach:before { content: "\f119"; }
.icon-mc-no-dishwasher:before { content: "\f11a"; }
.icon-mc-no-dry-clean:before { content: "\f11b"; }
.icon-mc-no-iron:before { content: "\f11c"; }
.icon-mc-no-microwave:before { content: "\f11d"; }
.icon-mc-no-tumble-dry:before { content: "\f11e"; }
.icon-mc-not-wash:before { content: "\f11f"; }
.icon-mc-package:before { content: "\f120"; }
.icon-mc-pin:before { content: "\f121"; }
.icon-mc-truck:before { content: "\f122"; }
.icon-mc-tumble-dry:before { content: "\f123"; }
.icon-mc-user:before { content: "\f12b"; }
.icon-mc-warm-iron:before { content: "\f124"; }
.icon-mc-wash-30:before { content: "\f125"; }
.icon-mc-wash-all:before { content: "\f126"; }
.icon-mc-wash-before:before { content: "\f127"; }
.icon-mc-wash-gentle:before { content: "\f128"; }
.icon-mc-wash-press:before { content: "\f129"; }
.icon-mc-wash-separately:before { content: "\f12a"; }

$font-icons-mc-add: "\f100";
$font-icons-mc-arrow-down: "\f101";
$font-icons-mc-arrow-left: "\f102";
$font-icons-mc-arrow-right: "\f103";
$font-icons-mc-bag: "\f104";
$font-icons-mc-bleach: "\f105";
$font-icons-mc-box: "\f106";
$font-icons-mc-cancel: "\f107";
$font-icons-mc-cool-iron: "\f108";
$font-icons-mc-down-arrow: "\f12d";
$font-icons-mc-drip-dry: "\f109";
$font-icons-mc-dry-clean: "\f10a";
$font-icons-mc-dry-flat: "\f10b";
$font-icons-mc-drying-low: "\f10c";
$font-icons-mc-drying-med: "\f10d";
$font-icons-mc-filters: "\f10e";
$font-icons-mc-gift-card: "\f12e";
$font-icons-mc-grid: "\f10f";
$font-icons-mc-grid-view: "\f12f";
$font-icons-mc-hand-wash: "\f110";
$font-icons-mc-hang-dry: "\f111";
$font-icons-mc-heart: "\f112";
$font-icons-mc-help: "\f113";
$font-icons-mc-hot-iron: "\f114";
$font-icons-mc-list: "\f115";
$font-icons-mc-list-view: "\f130";
$font-icons-mc-login: "\f116";
$font-icons-mc-logo: "\f117";
$font-icons-mc-magnifying-glass: "\f12c";
$font-icons-mc-no-bleach: "\f119";
$font-icons-mc-no-dishwasher: "\f11a";
$font-icons-mc-no-dry-clean: "\f11b";
$font-icons-mc-no-iron: "\f11c";
$font-icons-mc-no-microwave: "\f11d";
$font-icons-mc-no-tumble-dry: "\f11e";
$font-icons-mc-not-wash: "\f11f";
$font-icons-mc-package: "\f120";
$font-icons-mc-pin: "\f121";
$font-icons-mc-truck: "\f122";
$font-icons-mc-tumble-dry: "\f123";
$font-icons-mc-user: "\f12b";
$font-icons-mc-warm-iron: "\f124";
$font-icons-mc-wash-30: "\f125";
$font-icons-mc-wash-all: "\f126";
$font-icons-mc-wash-before: "\f127";
$font-icons-mc-wash-gentle: "\f128";
$font-icons-mc-wash-press: "\f129";
$font-icons-mc-wash-separately: "\f12a";
