/* ---------------------------------------------------------------------------- */
/* Variables */
/* ---------------------------------------------------------------------------- */

$base_color: #312e2e;
$main_color: #0093a8;
$error_color: #CC0000;

$palette_1 : #d13d3d;

$l-grey: #EAEAEA;

$white-grey: #f3f3f3;
$lighter-grey: #e5e5e5;
$light-grey: #dadada;
$mid-grey: #7b7b7b;
$dark-grey: #4b4a4a;
$darker-grey: #313131;
$black: #000;
$white: #fff;

$sale_color : #d13d3d;

$border-product : #dadada;


$main_font: 'futura-pt', sans-serif;
$classic_font: 'futura-pt', sans-serif;
$third_font: 'Nexa', sans-serif;

/* ---------------------------------------------------------------------------- */
/* Globals Fonts Variables
/* ---------------------------------------------------------------------------- */

/* Desktop */

$font-breadcrumbs            : 600 font_size(12)/1.2 $main_font;
$font-page-note              : 500 font_size(16)/1.4 $main_font;

$font-taxon-title            : 700 font_size(20)/1 $main_font;
$font-mobile-taxon-title     : 500 font_size(22)/1 $main_font;

$font-filter                 : 700 font_size(11)/1.2 $main_font;

$font-product-title          : 500 font_size(16)/1.2 $main_font;
$font-product-price          : 700 font_size(16)/1.2 $main_font;

$font-product-small-title    : 500 font_size(16)/1.2 $main_font;
$font-product-small-price    : 700 font_size(14)/1.2 $main_font;

$font-button-add-cart        : 700 font_size(16)/1.2 $main_font;

$font-selected-filter        : 700 font_size(10)/1.2 $main_font;



/* Mobile */

$font-mobile-page-note       : 600 font_size(14)/1.4 $main_font;
$font-mobile-button-add-cart : 700 font_size(12)/1.2 $main_font;

$font-mobile-product-title   : 500 font_size(14)/1.2 $main_font;
$font-mobile-product-price   : 700 font_size(14)/1.2 $main_font;


/* ---------------------------------------------------------------------------- */
/* Main Container
/* ---------------------------------------------------------------------------- */

$main-container-padding-top : 198px;

/* ---------------------------------------------------------------------------- */
/* Variables - Margin / Padding */
/* ---------------------------------------------------------------------------- */

$margin-35 : 35px;

$padding-15 : 15px;

$padding: 150px;
$padding__tablet: 100px;
$padding__mobile: 50px;

$half__padding__mobile: 25px;
$small__padding__mobile: 30px;

$margin: 150px;
$margin__tablet: 100px;

$margin__mobile: 50px;
$half__mobile__mobile: 25px;
$small__margin__mobile: 30px;

/* ---------------------------------------------------------------------------- */
/* Variables - Button */
/* ---------------------------------------------------------------------------- */

$font-button-outline : 600 font_size(20)/1.2 $main_font;

/* ---------------------------------------------------------------------------- */
/* Variables - Element Height */
/* ---------------------------------------------------------------------------- */

$menuutil_height: 35px;

/* ---------------------------------------------------------------------------- */
/* Variables - Inputs Sizes */
/* ---------------------------------------------------------------------------- */

$input-height : 45px;
$input-height-mobile : 38px;

/* ---------------------------------------------------------------------------- */
/* Variables - Breakpoints */
/* ---------------------------------------------------------------------------- */

/* Ajust Between Large && Medium Desktop */

$ajust-bw-breakpoint-md: 1360px;

/* Ajust Between Large && Small Tablet */

$ajust-bw-breakpoint-ts: 895px;

// DESKTOP
$desktop-xlarge: 2500px;
$desktop-large: 1920px;
$desktop-medium: 1440px;
$desktop-small: 1280px;

// TABLET
$tablet-large: 1024px;
$tablet-small: 860px;

// PHONE
$phone-xlarge: 740px;
$phone-large: 640px;
$phone-medium: 480px;
$phone-small: 320px;


$breakpoint: (
        'default feature': max-width
);
